# Prerequisites
*.d
*.go

# Compiled Object files
*.slo
*.lo
*.o
*.obj

cmake-build-*/
!.vscode/launch.json
!.vscode/extensions.json

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temp files
*~
*.swp
*.swo
*~

# Local development environment files
.env
.env.local

# Build output
debug/
release/
bin/
lib/

# Unit test reports
*.xml
*.idea
*.vscode

